@using LibararyApps.Models
@model IEnumerable<BooksAndAuthors>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PAGE</th>
            <th>AUTHOR NAME</th>
            <th>CREATE DATE</th>
            <th>UPDATE DATE</th>
            <th>IS ACTIVE</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BOOKSID</td>
                <td>@item.BOOKSNAME</td>
                <td>@item.PAGE</td>
                <td>@string.Concat(item.AUTHORSNAME, " ", item.LASTNAME)</td>
                <td>@item.CREATEDDATE.ToShortDateString()</td>
                <td>@item.UPDATEDDATE.ToShortDateString()</td>
                @if (item.ISACTIVE)
                {
                    <td>ACTIVE</td>
                }
                else
                {
                    <td>NOT ACTIVE</td>
                }
                <td><a class="btn btn-warning" asp-controller="Books" asp-action="Update" asp-route-ID="@item.BOOKSID">UPDATE</a></td>
                <td><a class="btn btn-danger" asp-controller="Books" asp-action="Delete" asp-route-ID="@item.BOOKSID">DELETE</a></td>

            </tr>
        }


    </tbody>

</table>

<a class="btn btn-outline-dark" asp-controller="Books" asp-action="Index">BACK</a>